<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

   <!-- 导入核心配置文件 -->
   <import resource="applicationContext-core.xml" />
   
    <!-- 导入quartz配置文件 -->
   <import resource="applicationContext-schedule.xml" />
   
   <!--注：开发环境（sit,pre,pro）要使用 applicationContext-mybatis.xml文件配置-->
   <!--注：单元测试环境要使用applicationContext-mybatis-UnitTest.xml文件配置-->
   <!-- 导入mybatis配置文件 -->
   <import resource="applicationContext-mybatis.xml" />
  
   
   <!-- 导入mybatis配置文件  For 单元测试 -->
   <!--
   <import resource="applicationContext-mybatis-UnitTest.xml" />
   -->
 
    <!-- 导入velocity配置文件 -->
   <import resource="applicationContext-velocity.xml" />
   
</beans>