<?xml version="1.0" encoding="UTF-8" ?>       
<!DOCTYPE configuration       
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"       
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 定义实体类的别名 -->
	<typeAliases>
		
		<typeAlias type="com.framework.persistent.test.domain.TestBean" alias="TestBean" />
				
	</typeAliases>
	
	<!-- 不在默认路径：com/framework/persistent/**/*.xml的mapping文件，请放在这里加载 -->
	<mappers></mappers>
	
</configuration> 